@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

@theme light {
  --color-bg: #f8fafc;
  --color-text: #222;
  --color-primary: #FFD700;
  --color-secondary: #FFF8DC;
  --color-green-400: #00DC82;
  --color-red-400: #FF4C4C;
  --color-blue-400: #3B82F6;
}

@theme dark {
  --color-bg: #18181b;
  --color-text: #fff;
  --color-primary: #FFD700;
  --color-secondary: #232323;
  --color-green-400: #00DC82;
  --color-red-400: #FF4C4C;
  --color-blue-400: #3B82F6;
}
